<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/sidebar.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('./partials/sidebar.ejs') %>
    <div class="container px-4 mx-auto bg-gray-50">
      <section class="py-4">
        <div class="flex gap-3 items-center">
          <div>Your VPCs</div>
          <i class="fas fa-sync-alt"></i>
          <div id="error-message-env"></div>
        </div>
        <!-- VPC table -->
        <table class="table-fixed">
          <thead>
            <tr>
              <th class="w-2/5 ...">Name</th>
              <th class="w-2/5 ...">ID</th>
              <th class="w-1/5 ...">CIDR</th>
            </tr>
          </thead>
          <tbody>
            <% if(vpc.data.length>0) { %> <% vpc.data.forEach(item=>{ %>
            <tr class="bg-green-50">
              <td><%= item.name %></td>
              <td><%= item.id %></td>
              <td><%= item.cidr %></td>
            </tr>
            <% }) %> <% } else if(vpc.error) { %>
            <tr class="bg-red-50">
              <td>Error: <%=vpc.error %></td>
            </tr>
            <% } else{ %>

            <tr class="bg-blue-50">
              <td>No VPCs</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </section>
      <section class="my-10">
        <div class="flex gap-3 items-center">
          <div>Your Instances</div>
          <i class="fas fa-sync-alt"></i>
          <div id="error-message-instance"></div>
        </div>
        <!-- Instance table -->
        <table class="table-fixed">
          <thead>
            <tr>
              <th class="w-1/5 ...">Name</th>
              <th class="w-2/5 ...">ID</th>
              <th class="w-1/5 ...">State</th>
              <th class="w-1/5 ...">Key Name</th>
            </tr>
          </thead>
          <tbody>
            <% if(instances.data.length>0) { %> <%
            instances.data.forEach(item=>{ %>
            <tr class="bg-green-50">
              <td><%= item.name %></td>
              <td><%= item.id %></td>
              <td
                id="<%=item.id %>"
                onClick="changeState('<%=item.id %>','<%=item.state %>')"
                class="
                  instance-state
                  border border-1
                  flex
                  justify-around
                  items-center
                  cursor-pointer
                "
              >
                <% if(item.state==="pending") { %>
                <i class="fas text-yellow-600 fa-clock-circle"></i>
                <% }else if(item.state==="running"){ %>
                <i class="fas text-green-600 fa-check-circle"></i>
                <% }else{ %>
                <i class="fas text-red-600 fa-minus-circle"></i>
                <% } %> <%= item.state %>
              </td>
              <td><%= item.keyName %></td>
            </tr>
            <% }) %> <% } else if(instances.error) { %>
            <tr class="bg-red-50">
              <td>Error: <%=instances.error %></td>
            </tr>
            <% } else{ %>

            <tr class="bg-blue-50">
              <td>No Instances</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </section>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript">
      const message = document.getElementById("error-message-instance");
      const changeState = async (id, state) => {
        if (
          state.toUpperCase() === "PENDING" ||
          state.toUpperCase() === "TERMINATED"
        )
          return;
        const element = document.getElementById(id);
        let newState;
        element.innerHTML =
          '<i class="fas text-yellow-500 fa-clock"></i>Pending';
        newState = state === "stopped" ? "start" : "stop";
        try {
          console.log("in try");
          const response = await axios.post("/startStopInstance", {
            state: newState,
            id,
          });
          console.log(response);
        } catch (e) {
          console.log(e);
          message.innerHTML = "Some error occured!";
        }
      };
    </script>
  </body>
</html>
