<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="styles/style.css" /> -->

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
    />
    <link rel="stylesheet" href="styles/sidebar.css" />
  </head>
  <body>
    <%- include('./partials/sidebar.ejs', {active:'home'}) %>
    <div class="container" style="margin: 25px auto; padding-left: 60px">
      <section class="">
        <div class="">
          <h4>Your VPCs</h4>
          <!-- <i class="fas fa-sync-alt"></i> -->
          <div id="error-message-env"></div>
        </div>
        <!-- VPC table -->
        <div class="table-wrap">
          <table
            class="table table-hover table-responsive table-bordered"
            style="border: none"
          >
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">VPC Name</th>
                <th scope="col">VPC ID</th>
                <th scope="col">VPC CIDR</th>
                <th scope="col">Public subnet CIDR</th>
                <th scope="col">Private subnet CIDR</th>
                <th scope="col">Delete Env</th>
              </tr>
            </thead>
            <tbody>
              <% if(vpc.data.length>0) { %> <% vpc.data.forEach((item,index)=>{
              %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= item.name %></td>
                <td><%= item.id %></td>
                <td><%= item.cidr %></td>
                <td>10.0.0.0/16</td>
                <td>10.0.0.1/16</td>
                <td><i class="fas fa-trash-alt"></i></td>
              </tr>
              <% }) %> <% } else if(vpc.error) { %>
              <tr>
                <td>Error: <%=vpc.error %></td>
              </tr>
              <% } else{ %>

              <tr class="">
                <td>No VPCs</td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </section>
      <section style="margin-top: 30px">
        <div class="">
          <h4>Your Instances</h4>
          <!-- <i class="fas fa-sync-alt"></i> -->
          <div id="error-message-instance" class="text-danger"></div>
        </div>
        <!-- Instance table -->
        <div class="table-wrap">
          <table
            class="table table-hover table-responsive table-bordered"
            style="border: none"
          >
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">ID</th>
                <th scope="col">State</th>
                <th scope="col">Key Name</th>
                <th scope="col">Launch Time</th>
                <th scope="col">Terminate</th>
              </tr>
            </thead>
            <tbody>
              <% if(instances.data.length>0) { %> <% instances.data.forEach(
              (item,index)=>{ %>
              <tr class="">
                <td><%= index+1 %></td>
                <td><%= item.name %></td>
                <td><%= item.id %></td>
                <td
                  id="<%=item.id %>"
                  onClick="changeState('<%=item.id %>','<%=item.state %>')"
                  class="instance-state"
                >
                  <% if(item.state==="pending") { %>
                  <i class="fas text-warning fa-clock-circle"></i>
                  <% }else if(item.state==="running"){ %>
                  <i class="fas text-success fa-check-circle"></i>
                  <% }else{ %>
                  <i class="fas text-danger fa-minus-circle"></i>
                  <% } %> <%= item.state %>
                </td>
                <td><%= item.keyName %></td>
                <td><%= String(item.launchTime).substring(0,24) %></td>
                <td>
                  <i
                    onClick="terminateInstance('<%=item.id %>','<%=item.state %>')"
                    class="fas fa-trash-alt"
                  ></i>
                </td>
              </tr>
              <% }) %> <% } else if(instances.error) { %>
              <tr class="text-danger">
                <td>Error: <%=instances.error %></td>
              </tr>
              <% } else{ %>

              <tr>
                <td>No Instances</td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </section>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Bootstrap CDN -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      const url = window.location.href;

      const lastSegment = url.split("/").pop();
      if (lastSegment === "")
        document
          .getElementById("dashboard-link")
          .classList.add("nav-link-active");

      const message = document.getElementById("error-message-instance");
      const changeState = async (id, state) => {
        if (
          !(
            state.toUpperCase() === "RUNNING" ||
            state.toUpperCase() === "STOPPED"
          )
        )
          return;
        const element = document.getElementById(id);
        let newState;
        element.innerHTML =
          state === "stopped"
            ? '<i class="fas text-warning fa-clock"></i> Pending'
            : '<i class="fas text-warning  fa-clock"></i> Stopping';
        newState = state === "stopped" ? "start" : "stop";
        try {
          const response = await axios.post("/startStopInstance", {
            state: newState,
            id,
          });
        } catch (e) {
          console.log("in index.ejs catch!! ", e.response);
          message.innerHTML = e.response.data.errorMessage || "";
        }
      };

      const terminateInstance = async (id, state) => {
        if (
          state.toLowerCase() === "shutting down" ||
          state.toLowerCase() === "terminated"
        )
          return;

        const element = document.getElementById(id);
        element.innerHTML =
          '<i class="fas text-warning  fa-clock"></i> Shutting down';
        try {
          const response = await axios.post("/terminateInstance", {
            id,
          });
          console.log("in terminateinstance try");
        } catch (e) {
          console.log("in index.ejs catch!! ", e.response);
          message.innerHTML = e.response.data.errorMessage || "";
        }
      };
    </script>
  </body>
</html>
